USE [master]
GO
/****** Object:  Database [Esercizio4]    Script Date: 27/02/2025 16:24:44 ******/
CREATE DATABASE [Esercizio4]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Esercizio4', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Esercizio4.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Esercizio4_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Esercizio4_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Esercizio4].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Esercizio4]
GO
/****** Object:  Table [dbo].[Impiegato]    Script Date: 27/02/2025 16:24:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Impiegato](
	[ImpiegatoID] [int] IDENTITY(1,1) NOT NULL,
	[Cognome] [varchar](50) NOT NULL,
	[Nome] [varchar](50) NOT NULL,
	[CF] [varchar](50) NOT NULL,
	[Eta] [int] NOT NULL,
	[RedditoMensile] [decimal](10, 2) NOT NULL,
	[DetrazioneFiscale] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ImpiegatoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Impiego]    Script Date: 27/02/2025 16:24:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Impiego](
	[ImpiegoID] [int] IDENTITY(1,1) NOT NULL,
	[TipoImpiego] [varchar](100) NOT NULL,
	[Assunzione] [datetime] NOT NULL,
	[ImpiegatoID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ImpiegoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Impiego]  WITH CHECK ADD FOREIGN KEY([ImpiegatoID])
REFERENCES [dbo].[Impiegato] ([ImpiegatoID])
ON DELETE CASCADE
GO
USE [master]
GO
